.header__title {
  color: var(--textsColor);
  font-family: var(--font2);
  /* font-family: Eastman; */
  font-size: clamp(16px, 0.402rem + 3vw, 64px);
  font-weight: 400;
  line-height: clamp(22px, 0.578rem + 4vw, 86px);
  text-align: center;
  /* max-width: clamp(220px, 2.866rem + 54.59vw, 1094px); */
  /* max-width: 529px; */
  max-width: 775px;
  margin: 0 auto;
  padding-bottom: 125px;
}
