/* логотип кнопка меню */
.nav__btn {
  background: url(./../../img/logo.png) no-repeat center center/cover;
  /* width: 25%;
  height: 10%; */
  /* width: 179px; */
  width: clamp(116px, 6.465rem + 3.94vw, 179px);
  /* height: 60px; */
  height:clamp(39px, 2.176rem + 1.31vw, 60px);
  display: inline-block;
  position: relative;
}
.nav__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  /* background: rgb(21, 182, 142); */
  background:var(--gradientLogoColor); 
  border-radius: 10px;
  z-index: -1;
  transition: 0.8s ease;
  transform: scaleX(0);
 
}
.nav__btn:hover::before {
  transform: scaleX(1);
}
/* логотип кнопка меню */

/* modal menu */
.menu {
  position: fixed;
  width: 100%;
  /*Начальная высота*/
  height: 0;
  top: 0;
  left: 0;
  background: var(--gradientColor);
  /*Скрываем содержимое*/
  overflow: hidden;
  /*Анимация для высоты и прозрачности*/
  transition: height 1.8s ease, opacity 2.8s ease;

  opacity: 0;
  overflow: auto;
}

.menu.open {
  height: 100vh;
  /*Полная высота при открытии*/
  opacity: 1;
  /*Полная видимость*/
  transition: height 2.8s ease, opacity 0.8s ease;
  
}

.close__btn {
  position: absolute;
  /* font-size: 50px; */
  font-size: clamp(45px, 2.75rem + 0.31vw, 50px);
  font-weight: 200;
  top: 25px;
  /* right: 42px; */
  right: clamp(30px, 1.726rem + 0.75vw, 42px);
  cursor: pointer;
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  width: 55px;
  height: 55px;
  color: var(--basicColor);

}
.close__btn:active{
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}
.list__menu {
  position: relative;
  width: 100%;
  text-align: center;
  top: 20px;
}

.list__menu a {
  display: block;
  color: var(--basicColor);
  margin: 50px 25px 0 25px;
  font-size: 50px;

  font-family: Eastman;
  /* font-size: 64px; */
  font-size: clamp(34px, 1.751rem + 1.87vw, 64px);
  font-weight: 400;
  /* line-height: 86px; */
  line-height: clamp(35px, 1.552rem + 3.19vw, 86px);
  text-align: center;
}
/* modal menu */
