.header{
   /* чтобы header был всегда наверху и не убегал при скроле, его надо зафиксировать */
   position: fixed;
   /* приподнять  */
   z-index: 5;
   /* прижать к левому краю */
   top: 0;
   left: 0;
   /* растянуть на весь экран */
   width: 100%;
   display: flex;
   
}