@import"./reset.css";
@import"./vars.css";
@import"./pattern.css";

/* fonts */
@font-face {
  font-family: 'Aeroport Mono';
  src: url('./../fonts/aeroportmono.otf') format('opentype');
}
@font-face {
    font-family: 'Eastman Trial';
    src: url('./../fonts/EastmanTrial-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Eastman Trial';
    src: url('./../fonts/EastmanTrial-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Eastman Trial';
    font-weight: bold;
    src: url('./../fonts/EastmanTrial-Regular.otf') format('opentype');
}
/* fonts */

html{
  /* данные настройки обязательны */
  min-height: 100vh;
  max-width: 100%;
  /* все, что выходит за пределы документа, будет обрезаться */
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  max-width: 100%;
  font-family: "EastmanTrial", Arial, Helvetica, sans-serif;
  /* эти настройки позволяют выстроить основные блоки по flex, что прижимает footer к низу страницы   */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}